*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorPrincipal:#fff;
    --colorSecundario:#070745;
    --lucky:#CED89D;
}
.effectopacity{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.93);
}
/***************/
body{
    background-image: url(https://img.freepik.com/foto-gratis/decoracion-comida-italiana-pizza-pan_23-2147686560.jpg?w=900&t=st=1693372775~exp=1693373375~hmac=3a1bd85c2fed049b85c48eb0143d588ece0483304dce6786d0bc9424985836ce);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    display: flex;
    justify-content: center;
    align-items: end;
    overflow-x: hidden;
}
.gral-container{
    width: 100%;
    height: 70vh;

}
.inicio{
    /* background-image: url();
    background-size: auto;
    background-position: center; */
    padding: 20vh 0;
}
h1{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    font-size: 40px;
    color: #fff;
}
input{
    display: block;
    width: 50%;
    height: 3em;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 20px;
}
#buscarRecetas{
    display: block;
    margin: 30px auto 0px auto;
    padding: 20px;
    width: 50%;
}
/*******GRID*********/
.tituloRecetasPosibles{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.sectionResultados{
    width: 100%;
    margin: auto;
    background-color: var(--colorPrincipal);
    border: solid 2px #000;
    border-radius: 12px;
    width: 95%;
    max-height: 400px; /* Tamaño máximo para la vista previa */
    overflow: hidden; /* Oculta el contenido que exceda el tamaño máximo */

}
.sectionResultados .nombreReceta{
    color: rgb(3, 3, 80);
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0;
}
.sectionResultados .contenedorReceta .contenedorTextoResultados span{
    font-weight: bold;
    -webkit-text-stroke: 0.1px  #000;
}
.sectionResultados .contenedorReceta .contenedorTextoResultados p{
    font-size: 17px;
}
#resultadosRecetas{
    margin: 0 auto;
    width: 100%;
    
}

/*contenedor section resultador*/
.resultados-container{
    background-color: #0a203b;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    grid-gap: 20px;
    padding: 20px;
}
/***********/
/* .contenedorReceta{
} */

/********ajuste imagen de cada receta encontrada***********************/
.recetaImagen{
    height: 200px;
    width: auto;
    background-size: cover;
    background-position: center;
    border-top: 2px solid var(--colorSecundario);
    border-bottom: 2px solid var(--colorSecundario);
}
/*imagenes individuales*/
#omeletteBACKGROUND{
    background-image: url(./imageRecetas/omeletteIMAGE.jpg);
}
#huevorevueltoBACKGROUND{
    background-image: url(./imageRecetas/huevorevueltoIMAGE.jpg);
}
/********************/

.contenedorReceta p{
    margin: 10px 10px;
}
/* .resultadosText{
    color:#000;
} */
.spanIngredientes{
    color:dodgerblue;
}
.spanIngredientesOpcionales{
    color:darkorange;
}
.spanPreparacion{
    color:rgb(67, 252, 0);
}
.contenedorTextoResultados{
    padding: 10px;
}
/************RECETA EXPANDIDA**********/
.expanded{
    height: max-content;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    max-height: none;
    overflow: visible;
}
.expanded .nombreReceta{
    font-size: 30px;
}
.expanded .contenedorReceta{
    border-top: 2px solid #000;
}
.expanded .contenedorReceta .recetaImagen{
    width: 50%;
    margin: 10px 5px 0 0;
    float: right;
    border: 2px solid #000;
}
.expanded .contenedorReceta .contenedorTextoResultados{
    font-size: 20px;
    max-width: 50%;
}
.expanded .contenedorReceta .contenedorTextoResultados span{
    width: 100%;
    display: block;
    background-color: #000;
    padding: 4px;
    text-align: center;
}
/* .expanded .contenedorReceta .contenedorTextoResultados p{} */